/* html{
    font-size: 22px;
}

body{
   background-color:green;
   color:whitesmoke ;
} */
table,tr,th,caption,td
{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5rem;
}